/* Sidebar.css */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #f0f0f0;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.show {
  left: 0;
}

.sidebar-content {
  height: 100%;
  padding: 10px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-btn {
  background-color:red;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}


.sidebar-body {
  overflow-y: auto;
  height: calc(100% - 60px); /* Adjust based on header and footer height */
}
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-left: 8px;
}

input[type='text'],
input[type='date'],
input[type='number'],
input[type='time'] {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 4px;
  margin-left: 8px;
}

select {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 4px;
  margin-left: 8px;
}

button {
  margin-top: 15px;
}
.btn-primary{
  background-color: green;
  border: none;
  padding: 10px;
  cursor: pointer;
  color:white;
  margin-top: 10px;
}
.btn-danger{
  background-color: red;
  border: none;
  padding: 10px;
  cursor: pointer;
  color:white;
  margin-left: 10px;
}

select.form-control {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 4px;
  margin-left: 8px;
  background-color: white;
  appearance: none; /* برای حذف استایل پیش‌فرض مرورگر */
  cursor: pointer;
}

select.form-control:focus {
  outline: none;
  border-color: #007bff; /* رنگ آبی برای تمرکز */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
